.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.card-item {
  max-width: 325px;
  border-radius: 15px;
  margin-bottom: 50px;
  list-style-type: none;
  margin-right: 20px;
  padding-left: 15px;
}
.img-container {
  display: flex;
  justify-content: flex-end;
}
.image {
  width: 60px;
  margin-right: 25px;
}

.sub-heading {
  font-size: 15px;
  font-family: 'Roboto';
  color: #171f46;
}
.paragraph {
  font-size: 12px;
  font-family: 'Roboto';
  color: #64748b;
}
@media screen and (min-width: 992px) {
  .sub-heading {
    font-size: 25px;
  }
  .paragraph {
    font-size: 18;
  }
}
